{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block body_block %}
    <p>visits: {{ visits }}</p>
        <div>
             <strong>{{ boldmessage }}</strong> <br />
            This tutorial has been put together by Xianyu Zhang!
        </div>
        <div>
            {% comment %}<a href = "/rango/index/"> Index </a> <br />{% endcomment %}
            <a href = "/rango/"> Index Page </a> <br />
            <img src ="{{ MEDIA_URL }}cat.jpg" alt="Picture of Cat" /> <br />
        </div>
{% endblock %}